# Build results
bin/
obj/

# .NET Core dependencies
project.lock.json
project.fragment.lock.json
artifacts/

# Temporary files
*.tmp
*.temp
*.log
*.vspscc
*.vssscc
.vscode/
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider & JetBrains specific files
.idea/
*.sln.iml

# Azure
local.settings.json
.azure/

# dotnet publish
.publish/

# NPM Packages and dependencies (for projects using frontend frameworks like Angular or React)
node_modules/

# Optional: database files
*.mdf
*.ldf
*.ndf

# macOS files
.DS_Store

# Windows image file caches
Thumbs.db

# Folder config files
desktop.ini

# Other Config files
*.config
*.config.*

# Resharper
_ReSharper.Caches/
resharper.xml

# Dotnet Tool Settings
**/.dotnet_tool

# Coverage and test results
TestResults/
*.Coverage
*.coverage
*.coveragexml
*.testhost.*

# Temp & Cache Files
.cache/
*.pid
*.swp

# Environment variable settings
.env
.env.*

# Local NuGet packages
*.nupkg
packages/
*.snupkg

# Dependencies
packages/
